<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="DuckDuckSearchEngine">

	<listeners>
		<listener
			class-name="com.qa.ExtentReportLister.ExtentReporterNG" />
	</listeners>

	<test name="Coding Exercies">
		<classes>
			<class name="com.duckduck.qa.testcases.DuckDuckGoSerchResult"></class>

		</classes>
	</test>
</suite>